body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: black;
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}